






.wrapper {
    height: 85vh;

    display: grid;
    gap: 1rem;

    grid-template-areas:
    'a a a a'
    'b b b b'
    'c c c c'
    'd d d d'
    'e e e e'
    'f f f f'
    'g g g g'
    'h h h h'

}

.wrapper:nth-child(1) {
    grid-area: a;
}
.wrapper:nth-child(2) {
    grid-area: b;
}
.wrapper:nth-child(3) {
    grid-area: c;
}
.wrapper:nth-child(4) {
    grid-area: d;
}
.wrapper:nth-child(5) {
    grid-area: e;
}
.wrapper:nth-child(6) {
    grid-area: f;
}
.wrapper:nth-child(7) {
    grid-area: g;
}
.wrapper:nth-child(8) {
    grid-area: h;
}
.box-12 {
    font-size: 100%;
    background: url('resources/images/William_the_Conqueror_-_c._1580.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .box-13 {
    font-size: 100%;
    background: url('resources/images/John_II_Komnenos_-_mosaic_image_digitally_restored.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .box-14 {
    font-size: 100%;
    background: url('resources/images/quran\ \(2\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border: orange solid .1em;
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .box-15 {
    font-size: 100%;
    background: url('resources/images/ascalon.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }