@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
body {
    background-image: linear-gradient(to right, rgb(3, 0, 0), rgb(0, 0, 0));
    font-family: "Philosopher";
    margin: 0;
    color: white;
    overflow: none;
  }
  .novalis {
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('resources/images/old.jpg');
    background-size: cover;
    text-transform: uppercase;
    width: 100%;
    height: auto;
    color: rgb(255, 145, 0);
    border: rgb(255, 145, 0) solid 1px;
    margin: 0 auto;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    z-index: 2;
    padding-top: 30px;
    font-size: 9em;
    font-weight: bold;
    font-family: "Cinzel Decorative";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
.nav ul {
	margin: 0;
}
.main-nav {
  font-size: 1.1em;
	font-weight: lighter;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
  position: fixed;
	width: 100%;
	margin: 0;
  background-color: black;
  z-index: 5;
  text-align: center;
}
 .nav li {
	text-align: center;
	display: inline-flex;
}
.nav a {
	display: inline-block;
	color: rgb(255, 174, 0);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding: .5em;
	text-decoration: none;
	margin: 0;
}
.nav a:hover {
	background-color: rgba(255, 255, 255, .4);
}
p {
  text-align: center;
}
.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  }
  
  .box:nth-child(even) {
    color: rgb(255, 255, 255);
  }
  .nav-front{
    text-decoration: none;
  }
  a.nav-front:link {
    text-decoration: none;
    color: #fff
  }
  
  a.nav-front:visited {
    text-decoration: none;
    color: #fff
  }
  
  a.nav-front:hover {
    text-decoration: none;
    color: #fff
  }
  
  a.nav-front:active {
    text-decoration: none;
    color: #fff
  }
  /*Content Section*/

  .wrapper {
    height: auto;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(11, 25%);
    grid-template-columns: repeat(4, 25%);
    grid-template-areas:
    'a a a a'
    'b d d f'
    'b d d f'
    'c d d g'
    'j e e m'
    'j k k m'
    'j k k m'
    'h l l n'
    'w w w o'
    'w w w o'
    'p p p p'
}

.ModernBox {
    color: rgb(255, 123, 0);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 350%;
    background: url('resources/images/nuclear.jpg');
    background-size: cover;
    background-attachment: fixed;
    grid-area: a;
  

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .box-11 {
    font-size: 100%;
    background: url('resources/images/Luther_at_the_Diet_of_Worms.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border: orange solid .1em;
    grid-area: b;
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .box-btn-reformation {
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: c;
  }
  .box-txt-reformation {
    font-size: 100%;
    display: flex;
    border: orange solid .1em;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    grid-area: c;
  }
  .box-12 {
    font-size: 100%;
    background: url('resources/images/Christopher_Columbus.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border: orange solid .1em;
    grid-area: d;
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .box-btn-newWorld {
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: e;
  }
  .box-txt-newWorld {
    font-size: 100%;
    display: flex;
    border: orange solid .1em;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    grid-area: e;
  }
  .box-13 {
    font-size: 100%;
    background: url('resources/images/newton.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border: orange solid .1em;
    grid-area: f;
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .box-btn-scientificRevolution {
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: g;
  }
  .box-txt-scientificRevolution {
    font-size: 100%;
    display: flex;
    border: orange solid .1em;
    align-items: center;
    padding: 1.5rem;
    justify-content: center;
    grid-area: g;
  }
  .box-14 {
    font-size: 100%;
    background: url('resources/images/moderneCyklopen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border: orange solid .1em;
    grid-area: j;
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .box-btn-industrialRevolution {
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: h;
  }
  .box-txt-industrialRevolution {
    font-size: 100%;
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    grid-area: h;
    border: orange solid .1em;
  }
  .box-15 {
    font-size: 100%;
    background: url('resources/images/tennisCourtOath.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: orange solid .1em;
    background-attachment: scroll;
    grid-area: k;
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .box-btn-enlightenment {
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: l;
  }
  .box-txt-enlightenment {
    font-size: 100%;
    display: flex;
    padding: .2em;
    align-items: center;
    justify-content: center;
    grid-area: l;
    border: orange solid 2px;
  }
  .box-16 {
    font-size: 100%;
    background: url('resources/images/imperialism.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    grid-area: m;
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .box-btn-renaissance {
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: n;
  }
  .box-txt-renaissance {
    font-size: 100%;
    border: orange solid .1em;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: n;
  }
  .box-17 {
    font-size: 100%;
    background: url('resources/images/ww1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    grid-area: w;
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .box-btn-worldWars {
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: o;
  }
  .box-txt-worldWars {
    font-size: 100%;
    border: orange solid .1em;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: o;
  }
  footer {
    box-sizing: border-box;
    text-align: center;
    font-size: 80%;
    color: orange;
    grid-area: p;
  }
  @media only screen and (max-width: 480px), (orientation: portrait) {
    .wrapper .box .novalis {
      width: 100%;
      height: 200px;
      overflow: hidden;
    }
  } 


